@page "/authentication/resetpassword"

@inject NavigationManager navigation
@inject IAuthenticationService authenticationService
@using System.Web;
<EditForm Model="resetPasswordDTO" OnValidSubmit="resetPassword" class="pt-4">
    <DataAnnotationsValidator />
    <div class="card col-10 offset-1 bg-dark">
        <div class="card-body">
            <h4 class="card-title">Reset Password</h4>
            @if (showMessage)
            {
                <div hidden=@result class="alert alert-warning">
                    <h5>Password must be at least 7 chars , one non-alphanumeric , one uppercase.</h5>
                </div>
                <div hidden=@(!result) class="alert alert-success">
                    <h5>Your password has been reset , Please <a href="login"> click here to login</a>.</h5>
                </div>
            }
            @if (!result)
            {
                <div class="py-2 input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-success icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                                <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
                            </svg>
                        </span>
                    </div>
                    <InputText @bind-Value="resetPasswordDTO.Password" class="form-control" type="password" placeholder="Enter new password..." />
                </div>
                <ValidationMessage For="(()=>resetPasswordDTO.Password)" />
                <div class="py-2 input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-success icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                                <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
                            </svg>
                        </span>
                    </div>
                    <InputText @bind-Value="resetPasswordDTO.ConfirmPassword" class="form-control" type="password" placeholder="Confirm the new password ..." />
                </div>
                <ValidationMessage For="(()=>resetPasswordDTO.ConfirmPassword)" />
                <div class="py-2 text-center">
                    <button type="submit" class="btn btn-success btn-lg"><i class="fas fa-user-lock"></i> Reset Password</button>
                </div>
            }
        </div>
    </div>
</EditForm>
@code {
    private ResetPasswordDTO resetPasswordDTO = new ResetPasswordDTO();

    bool result;
    bool showMessage;
    protected override void OnInitialized()
    {
        var absoluteUri = new Uri(navigation.Uri);
        var queryParam = HttpUtility.ParseQueryString(absoluteUri.Query);
        resetPasswordDTO.Email = queryParam["email"];
        resetPasswordDTO.Token = queryParam["token"];
    }

    private async Task resetPassword()
    {
        result = await authenticationService.ResetPassword(resetPasswordDTO);
        showMessage = true;
    }

}