.invoice-box[b-v9dxmy1yav] {
    max-width: 800px;
    margin: auto;
    padding: 30px;
    border: 3px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    line-height: 24px;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    background-color: white;
}

    .invoice-box table[b-v9dxmy1yav] {
        width: 100%;
        line-height: inherit;
        text-align: left;
        color: black;
        font-weight: bolder;
    }

        .invoice-box table td[b-v9dxmy1yav] {
            padding: 5px;
            vertical-align: top;
        }

        .invoice-box table tr td:nth-child(2)[b-v9dxmy1yav] {
            text-align: right;
        }


        .invoice-box table tr.top table td.title[b-v9dxmy1yav] {
            font-size: 45px;
            line-height: 45px;
            color: #333;
        }


        .invoice-box table tr.heading td[b-v9dxmy1yav] {
            background: #eee;
            border-bottom: 1px solid #ddd;
            font-weight: bold;
        }


        .invoice-box table tr.item td[b-v9dxmy1yav] {
            border-bottom: 1px solid #eee;
        }

        .invoice-box table tr.item.last td[b-v9dxmy1yav] {
            border-bottom: none;
        }

        .invoice-box table tr.total td:nth-child(2)[b-v9dxmy1yav] {
            border-top: 2px solid #eee;
            font-weight: bold;
        }

@media only screen and (max-width: 600px) {
    .invoice-box table tr.top table td[b-v9dxmy1yav] {
        width: 100%;
        display: block;
        text-align: center;
    }

    .invoice-box table tr.information table td[b-v9dxmy1yav] {
        width: 100%;
        display: block;
        text-align: center;
    }
}
